body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: left;
  color: #ff6600;
}

li{
  text-align: left;
  list-style: none;
}

.pagination{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #2776fd;
  color: #2776fd !important;
  text-decoration: none;
}

.active-page a {
  color: #fff !important;
  background: #2776fd;
}

